server:
  address: localhost
  port: 8080

spring.flyway:
  locations: classpath:db/migration
spring:
  datasource:
    schema-username: pbadmin
    schema-password: clbeegood1234
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/pbcms_new?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: clbeegood1234
    hikari:
      auto-commit: false
      maximum-pool-size: 5
      minimum-idle: 2
      leak-detection-threshold: 20000
  data:
    jpa.repositories.enabled: true
  jpa:
    generate-ddl: true
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      database: mysql
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect
      show_sql: true
      ddl-auto: create
      generate-ddl: true
      format_sql: true
      entity_manager.packagesToScan: com.clbee.appmaker.model
      enable_lazy_load_no_trans: true

  mvc.view:
    prefix: /views/
    suffix: .jsp

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
    view-names: thymeleaf/*

spring.mail:
  host: smtp.gmail.com
  port: 587
  username: noreply.clbee@gmail.com
  password: #zzxtufkqvxgjrswc
  properties:
    mail:
      smtp:
        auth: true
        starttls:
          enable: true
